<h1>Shopping Cart in vanilla JavaScript</h1>

<iframe src="../iFrames/ShoppingCartiFrame/index.html" width="450px" height="450px">
</iframe>

<section>
  <h3>Assignment:</h3>

  <p>Build a grocery list that dislays items on the page and can total their cost</p>

  <h3>Challenges:</h3>

  <p>Well I had no experience with arrays, jQuery, OOP, or much of anything to do with this project.</p>

  <h3>Process:</h3>

  <p>
    I began by watching numerous videos on OOP and making sure I thoroughly understood all my small experiences with jQuery and OOP. I knew I could piece together the bits of info I had and bring it all together to make something amazing...
  </p>
</section>
